doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forum notifications digest

  body
    p People have been repsonding to you on the Alliance forum!

    if count === 1
      p You have 1 unread notification.
    else
      p You have #{count} unread notifications.

    if notifications && notifications.length
      ul
        each notif in notifications
          li
            if notif.url
              a(href=notif.url)= notif.message
            else
              span= notif.message
            if notif.createdAt
              br
              small= notif.createdAt
    else
      p There are no unread notifications right now.

    p
      | Visit the forum to reply or catch up on discussions:
      br
      a(href=appUrl + '/forum') #{appUrl}/forum


    p You can change your preferences in settings if you dont want to receive digest emails: 
    a(href=appUrl + '/settings') #{appUrl}/settings

