doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action needs your completion

  body
      h3 #{actionName} needs your completion
      p Hi #{name},
      case commitmentless
        when true
          p "#{actionName}" is ready for member action.
        when false
          p You previously committed to "#{actionName}."
      
      p Please complete the action at this link:
      p #{url}