doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Action needs your completion

  body
      p Hi #{name},
      case commitmentless
        when true
          p A new action is ready for you to complete: "#{actionName}."
        when false
          p You previously committed to "#{actionName}."

      case hasDeadline
        when true
          p You have #{daysleft} to complete it before the deadline.
        when false
          - break

      p #[strong Please complete the action at this link: #{url}]